---
layout: plugins/compress
---

{%- include reset/defaults.liquid -%}

<!DOCTYPE html>
<html class="writer-html5" lang="{{ lang }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    <title>{{ title | truncate: 110 }}</title>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        function debug() {
            console.debug.apply(console, arguments);
        }

        gtag("js", new Date());

        if ("serviceWorker" in navigator) {
            navigator.serviceWorker.register("{{ site.baseurl }}/sw.caches.js");
        }
    </script>
    <!-- meta -->
    <meta name="description" content="{{ description }}">
    <meta name="author" content="{{ author }}">
    <meta name="generator" content="jekyll-rtd-theme v{{ version }}">
    <!-- meta-ogp -->
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ site.baseurl }}/assets/img/kphp-logo.png">
    <meta property="og:locale" content="{{ lang }}">
    <meta property="og:url" content="{{ schema_surl }}">
    <meta property="og:type" content="article">
    <meta property="article:author" content="{{ author }}">
    <!-- meta-custom -->
    {% for meta in site.meta -%}
        <meta name="{{ meta.first }}" content="{{ meta.last }}">
    {% endfor -%}
    <!-- link -->
    <link rel="canonical" href="{{ schema_surl }}">
    {% if prev %}<link rel="prev" href="{{ prev.url | absolute_url }}">{% endif %}
    {% if next %}<link rel="next" href="{{ next.url | absolute_url }}">{% endif %}
    <!-- theme -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/theme.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/rougify/{{ site.rougify | default: 'github' }}.css">
    <style>{{ site_scss | scssify | strip_newlines }}</style>
    <!-- icon -->
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/favicon32.png">
    <!-- script -->
    <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
    <script>
        const ui = {
            baseurl: "{{ site.baseurl }}",
            title: "{{ site.title }}",
            lang: "{{ lang }}"
        };
    </script>
    {% include extra/head.html %}
</head>

<body class="wy-body-for-nav">
    <div class="wy-grid-for-nav">
        <!-- NAV -->
        <nav data-toggle="wy-nav-shift" class="wy-nav-side">
            <div class="wy-side-scroll">
                <div class="wy-side-nav-search">
                    <a href="{{ site.baseurl }}/{% if site_lang != lang %}{{ lang }}/{% endif %}" class="icon icon-home"> {{ site.title }}</a>
                    <div role="search">
                        <form id="rtd-search-form" class="wy-form" action="{{ site.baseurl }}/search.html" method="get" autocomplete="off">
                            <input type="text" name="q" placeholder="{{ __search_docs }}...">
                            <input type="hidden" name="lang" value="{{ lang }}">
                        </form>
                    </div>
                </div>
                <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">{% include toctree.liquid %}</div>
            </div>
        </nav>

        <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">
            <!-- MOBILE NAV -->
            <nav class="wy-nav-top" aria-label="top navigation">
                <div class="flex">
                    <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
                    <div class="wy-nav-title">
                        <a href="{{ site.baseurl }}/">{{ site.title }}</a>
                    </div>
                </div>
            </nav>
            <div class="wy-nav-content">
                <div class="rst-content">
                    {% include breadcrumbs.liquid %}
                    <div role="main" itemscope="itemscope" itemtype="http://schema.org/Article">
                        <div class="document" itemprop="articleBody">
                            {%- if page.url == "/search.html" -%}
                                {{ content }}
                            {%- else -%}
                                <div class="section">{{ content }}</div>
                            {%- endif -%}
                        </div>
                    </div>
                    {% include footer.liquid %}
                </div>
            </div>
        </section>
    </div>
    {%- if site.addons %}{% include addons.liquid %}{% endif %}
    {% include extra/footer.html %}
    <!-- script -->
    <script src="{{ site.baseurl }}/assets/js/anchor.min.js"></script>
    <script>
        {% include assets/common.js %}
        {% include assets/custom.js %} {{ site.script }}
    </script>
</body>
</html>
