<footer>
    {% comment %} prev and next {% endcomment %}
    {%- if page.url != "/search.html" and page.url != "/404.html" and page.noprevnext != true -%}
        {%- if next or prev -%}
            <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
                {%- if prev -%}
                    <a href="{{ prev.url | relative_url }}" class="btn btn-neutral float-left"
                       title="{{ prev.title }}" accesskey="p" rel="prev">
                        <span class="fa fa-arrow-circle-left"></span> Previous</a>
                {%- endif -%}
                {%- if next -%}
                    <a href="{{ next.url | relative_url }}" class="btn btn-neutral float-right"
                       title="{{ next.title }}" accesskey="n" rel="next">
                        Next <span class="fa fa-arrow-circle-right"></span>
                    </a>
                {%- endif -%}
            </div>
        {%- endif -%}
    {%- endif -%}

    <hr>

    <div role="contentinfo" class="copyright">
        <p>
            <i class="fa fa-copyright"></i> Copyright {{ 'now' | date: '%Y' }}, LLC «V Kontakte»
            <a href="{{ site.url_github_kphp }}" style="margin-left: 10px" class="icon icon-github footer-github"></a>
        </p>
    </div>
</footer>
